header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
  }
  
nav ul {
    list-style: none;
    overflow: hidden; 
    margin: 0px;
    padding: 0px;
  }
  
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
nav ul li a {
    display: block;
    padding: 0px;
    margin: 0px;
    color: #fff;
    text-decoration: none;
  }
nav ul li:hover {
    background: #eca023;
  }

img {
    border-radius: 95%;
    width: 27%;
    border: 10px solid rgb(0, 0, 0);
    padding: 0px;
    margin-top: 10px;
}

h1 {
    width:45%;
    padding: 10px;
    margin: 20px 0px 5px;
    color: rgb(241, 11, 11);
    font-family: 'Shantell Sans', cursive;
    font-size: 50px;
}  

h2 {
    padding: 10px;
    margin: 10px 0px 5px;
    font-family: 'Bitter', serif;
    font-size: 45px;
    font-weight: bold;
    color: rgb(33, 3, 143)
}  

label {
    padding: 10px;
    margin: 0px;
    color: rgb(51, 11, 214);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

input {
    padding: 10px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 25px; 
}  

h3 {
    padding: 10px;
    margin: 10px 0px 5px;
    font-family: 'Bitter', serif;
    font-size: 45px;
    font-weight: bold;
    color: rgb(33, 3, 143)
}

li {
    padding: 10px;
    margin: 0px;
    color: rgb(44, 3, 190);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px; 
}

h4 {
    width: auto;
    padding: 10px;
    margin: 10px 0px 5px;
    color: rgb(44, 3, 190);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 45px;
}

p {
    min-width: auto;
    padding: 5px;
    margin: 10px 0px 5px;
    color: rgb(44, 3, 190);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
} 

button {
    color: rgb(3, 3, 3);
    background-color: #eca023;
    border: 2px solid rgba(162, 0, 255, 0.76);
    border-radius: 5px;
    width: auto;
    padding: 10px;
    margin: 10px 0px 5px;
    font-family: 'Bitter', serif;
    font-size: 10px;
}